@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

.left-sidebar-menu-style .ant-menu-submenu-title {
  width: fit-content !important;
}

.left-sidebar-menu-style .ant-menu-item {
  width: fit-content !important;
}

.hidescrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hidescrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
